// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
	margin: 0px auto;
	max-width: 700px;
	background-color: #ccc;
}
#bbw-head{
	margin: 0px auto;
	max-width: 700px;
	background-color: #aaa;
}

#blue_barn_logo{
	height:auto;
    width: 30%;
    max-width: 250px;
    display: block;
}